<div class="container">
  <h1>{{ category.displayStr }}</h1>
  <dl class="list">
    <dt>Product category</dt>
    <dd>{{ category.displayStr }}</dd>
    <dt>Order</dt>
    <dd>{{ category.order }}</dd>
    <dt>Image</dt>
    <dd><img src="/api/image/{{category.imageUrl}}" width="100"/></dd>
  </dl>
</div>
<!--
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/book-edit', category._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteProductCategory(category._id)">DELETE</button>
  </div>
</div>
-->
<h1>Add new product</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveProduct(category._id)" #productForm="ngForm">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" [(ngModel)]="product.displayStr" name="displayStr" required>
        </div>
        <div class="form-group">
          <label for="name">Order</label>
          <input type="text" class="form-control" [(ngModel)]="product.order" name="order" required>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Clear file</button>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div>
    <h1>Products List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product</th>
          <th>Order</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product._id }}</td>
          <td>{{ product.displayStr }}</td>
          <td>{{ product.order }}</td>
          <td><img src="/api/image/{{product.imageUrl}}" width="100"/></td>
          <!--
          <td><a [routerLink]="['/category/detail', category._id]">Detail</a> | <button class="btn btn-danger" type="button" (click)="deleteProductCategory(category._id)">DELETE</button></td>
          -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card" >

    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
            <div class="mask"></div>
        </a>
    </div>

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    </div>

</div>